/* Profile Section */
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.profile-content {
    display: flex;
    gap: 2rem;
    background-color: var(--bg-container);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: var(--shadow);

    flex-direction: column;


    width: 100%;
    max-width: 1200px;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    /*justify-content: space-between;*/
    /*align-items: stretch;*/
    flex-wrap: wrap;
    width: 100%;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    min-width: 120px;

    /*flex-shrink: 0;*/
    justify-content: space-between;
    /*align-content: stretch;*/
    /*height: 100%;*/
}

.profile-left .field-row {
    flex: 1;
}

.profile-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    /*max-width: 600px;*/
    min-width: 300px;
    /*height: 100%;*/
}

.field-row {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.avatar-wrap{
    position: relative;
    display: inline-block;
}

.profile-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--border);
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.form-input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.detail-group {
    margin-bottom: 1rem;
}

.field-row .detail-group {
    flex: 1;
    min-width: 150px;
}

.detail-group label {
    font-size: 0.9rem;
    color: var(--text-light);
    display: block;
    margin-bottom: 0.25rem;
}

.detail-group .detail-value {
    font-weight: 500;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border);
}
