# Dependencies
node_modules/

# Environment variables
.env

# Build files
dist/
build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache 